body {
	background-color:#80aaff;
}

td {
	height:30px;
	width:150px;
}

span {
	color:red;
	font-size:40px;
}

table {
	border-collapse:collapse;
	text-align:center;
	color:blue;
	margin:auto;
}

table,th,td {
	border: 1px solid black;
}

th,td {
	text-align:center;
}

/* This is the opening picture*/
#one {
	height:450px;
	width:350px;
	margin:0 auto;
	display:block;
}


/*seven is my button for LinkedIn*/
.button-linkedin {
	height:30px;
	width:120px;
	background-color:#BCD2EE;
	border-radius:5px;
	margin:0 auto;
	text-align:center;
	text-decoration:none;
	color:blue;
}

a {
	text-decoration:none;
	font-family:Serif,Verdana;
}

#eight {
	height:30px;
	width:120px;
	background-color:#BCD2EE;
	border-radius:5px;
	margin:auto;
	text-align:center;
	text-decoration:none;
	color:blue;
}

#nine {
	height:30px;
	width:120px;
	background-color:#BCD2EE;
	border-radius:5px;
	margin:auto;
	text-align:center;
	text-decoration:none;
	color:blue;
}



