.Navbar {
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:#4d88ff;
	top:0;
	width:100%;
	position:fixed;
	left:0;
}

.name {
	float:left;
	font-size: 27px;
	color:black;
	margin-top:7px;
	margin-left:12px;
	font-family: 'Oswald', sans-serif;
}

body {
	height:100%;
}


header li {
	float:right;
	border-left:1px solid blue;

}

header li:first-child {
	border-left:none;
}

a {
	display:inline-block;
	padding: 13px;
	text-decoration: none;
	color:black;
	text-align: center;
	font-family: 'Oswald'
}

@media (max-width: 320px) {
	a {
	display:block;
	padding: 13px;
	text-decoration: none;
	color:blue;
	text-align: center;
	font-family: 'Oswald';
    }
}

a:hover {
	color:#80bfff;
}

.Landing {
	background-image: url("https://scontent-lga3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/10525688_927004357413075_6088660645713150412_n.jpg?oh=e7d676f842072b234df3b6212ad0c5c7&oe=576838A8");
	background-repeat: no-repeat;
	background-size:cover;
	height:100%;
	margin-top: 0;
	padding-top: 20px;
	padding-bottom: 30px;
	background-position: center;
}

h1 {
	margin:auto;
	text-align:center;
	margin-top: 40px;
	font-size: 40px;
	font-family:'Oswald', sans-serif;
	color:black;
	
}

/* h3 {
	margin:auto;
	text-align: center;
	margin-top: 15px;
	font-size:25px;
	font-family:cursive;
} */



.modal-title {
  text-size:60px;
  background-color:dodgerblue;
}

.modal-header {
  background-color:dodgerblue;
}

.modal-body {
  background-color:#99c2ff
}

.modal-footer {
  background-color:dodgerblue;
}

.container {
	margin-top:400px;
	/*margin-left:850px;*/
}

.Footer {
	background-color: #4d88ff;
	width:100%;
	padding:13px;
	text-align:center;
	font-family: 'Oswald', sans-serif;
	word-spacing: .35px;
	display:block;
	margin-bottom: 0;
	margin-top: 0;

}

span {
	color:#ffb3b3;
}


/*.Background {
	background-color: #80b3ff;
  overflow:auto;
}

h3 {
	text-align: center;
	letter-spacing: 5px;
	color:black;
	font-family: 'Oswald';
	margin:0;
	padding:30px;
	font-size: 50px;
}

img {
	border-radius:7px;
	width:35%;
	height:80%;
	float:left;
	margin-left:20px;
	padding-bottom: 80px;

}

p {
	color:black;
  margin-left:400px;
  float:left;
  margin-top:50px; 
  width:60%;
  font-size:25px;
  margin-left: 20px;
 
}*/






