.navbar {
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color: dodgerblue;
	top:0;
	width:100%;
	position:fixed;
	left:0;

}

li {
	float:right;
	border-left:1px solid blue;
}

li:last-child {
	border-right:none;
}

a {
	display:block;
	padding: 8px;
	text-decoration: none;
	color:white;
	text-align: center;
}

body {
	background-image: url("https://scontent.fphl1-1.fna.fbcdn.net/hphotos-frc3/v/t1.0-9/1175323_444218465691669_554736810_n.jpg?oh=fe26cd96cf9b27e3a025decd8f07be5c&oe=5736D704");
	background-repeat: no-repeat;
	background-size:cover;
	height:100%;
}

h1 {
	margin:auto;
	text-align:center;
	margin-top: 100px;
	font-size: 50px;
	
}

h3 {
	margin:auto;
	text-align: center;
	margin-top: 15px;
	font-size:25px;
	font-family:cursive;
}

.name {
	float:left;
	font-size: 30px;
	color:white;
	font-family:Lucida Console;
}
