.navbar {
	list-style-type: none;
	margin:0;
	padding:0;
	overflow:hidden;
	background-color:black;
	top:0;
	width:100%;
	position:fixed;
	left:0;
	z-index:1;
	box-shadow: 0px 0px 10px #888888;
}

.name {
	float:left;
	font-size: 25px;
  margin-left:10px;
  margin-top:5px;
	color:white;
	font-family: 'Oswald', sans-serif;
	border-left:none;
  padding:0;
}

body {
	height:100%;
}


header li {
	float:right;
	border-left:1px solid blue;

}

/*header li:first-child {
	border-left:none;
}*/



.nav-links li a:hover {
	color:#80bfff;
	text-decoration: none;
}

a:hover {
  text-decoration:none;
  color:#80bfff;
}

.landing {
	background-image: url("https://scontent-lga3-1.xx.fbcdn.net/hphotos-xtf1/v/t1.0-9/10525688_927004357413075_6088660645713150412_n.jpg?oh=e7d676f842072b234df3b6212ad0c5c7&oe=576838A8");
	background-repeat: no-repeat;
	background-size:cover;
	height:100%;
	margin-top: 0;
	padding-top: 20px;
	padding-bottom: 30px;
	background-position: center;
}

.footer {
	background-color: black;
	width:100%;
	padding:13px;
	text-align:center;
	font-family: 'Oswald', sans-serif;
	word-spacing: .35px;
	display:block;
	margin-bottom: 0;
	margin-top: 0;
	box-shadow: 0px 0px 10px #888888;
	color:white;
}

span {
	color:#ffb3b3;
}

.nav-links li {
  float: right;
  border-left: 1px solid blue;
}

.nav-links li a {
  display: inline-block;
  padding: 13px;
  text-decoration: none;
  color: white;
  text-align: center;
  font-family: 'Oswald';
}

.menu-btn {
  display: none;
  border: 1px solid black;
  padding: 10px;
  float:right;
}


@media (max-width: 740px) {
  .menu-btn {
    display: block;
    text-decoration: none;
  }
  .nav-links{
    display:none;
  }
  .nav-links li{
    display:block;
    clear:both;
    width:100%;
    border-top:1px solid blue;
    text-align:center;
  }
  .nav-links li a{
    display:block;

  }

  .footer {
  	font-size:15px;
  }
}



