
/* Nav Bar links */

.nav {
    background-color:rgba(150,150,150,0.6);
}

.nav a {
	margin-right:70px;
	text-decoration: none;
	color:white;
	float:right;
	padding:10px;
	font-weight:600;
 	font-family: 'Oswald';
 	letter-spacing: 2px;
}



.menu-btn {
  display: none;
  border: 1px solid black;
  padding: 10px;
  float:right;
}

.nav-links li a:hover {
  color:#80bfff;
  text-decoration: none;
}

header {
    position:absolute;
    top:0;
    z-index:10;
    width:100%;
}



a:hover {
  text-decoration:none;
  color:#80bfff;
}

/*header li:first-child {
  border-left:none;
}*/



/*Content*/
.list li {
	border:none;
	float:none;

}

.hackpic {
	background-size:cover;
	min-height:auto;
	width:100vw;
}

.background {
	width:100%;
	position:relative;
	
}

.home {
	position:absolute;
	top:5px;
	right:15px;
	border:3px solid white;
	border-radius:7px;

}

.intro-par {
	padding:50px;
	font-size:25px;
	margin-bottom:0;
}

.projects {
	position:absolute;
	color:white;
	font-size:20px;
}


h1 {
	text-align:center;
	color:black;
	font-family:'Raleway';
	font-size:50px;
}

h2 {
	text-align:center;
	color:black;
	font-family:'Raleway';
	font-size:40px;
}


p {
	font-family:'Raleway';
	width:70%;
	margin-left:auto;
	margin-right:auto;
	padding:15px;

}

ul  {
	font-family: 'Raleway';
	list-style-type: none;
	
}

/* Other */

h3 {
	text-align: center;
}

h2 {
	text-align:center;
	margin-top:80px;
	margin-bottom: 0;
	font-size: 30px;
	font-family: 'Raleway';
	font-weight:600;
}

.grow-boston {
	text-align:center;
}

.par1 {
	padding:15px;
	font-family:'Raleway';
	width:70%;
	margin-left:auto;
	margin-right:auto;
}

.farmer {
	text-align:center;
}

.shopping-list {
	text-align:center;
}

.menu {
	text-align:center;
}

.website {
	text-align:center;
}

.orange {
	padding:2px;
	background-color:#ff8533;
}

.new-link {
	float:right;
	background-color:orange;
	color:white;
	text-decoration: none;
}

/* Images */

.grow-boston-pic {
	max-width: 100%;
	width:350px;
}

.website-before {
	max-width: 100%;
	width:600px;
}	

.website-after {
	max-width: 100%;
	width:600px;
}

.meet-farmer-pic {
	max-width:100%;
	width:350px;
}

.menu-pic {
	max-width:100%;
	width:400px;
}

.shopping-list-pic {
	max-width:100%;
	width:400px;
}


/*end of other*/


/* Media Queries */
@media (max-width: 740px) {
	p {
		width:auto;
	}

	.challenges {
		font-size:30px;
	}

	ul {
		width:100vw;
		padding:0;
	}

	h1 {
		font-size:40px;
	}

	@media (max-width: 740px) {

}


