body {
	background-color:#99e699;
}

p {
	font-size:40px;
	text-align:center;
	color:#145214;
}

ol {
	color: #145214;
	font-size:35px;
	text-align:center;
}

div {
	margin: 0 auto;
	width:700px;
}

li {
	color:#145214;
	font-size:32px;
	text-align:left;
}

span {
	font-size:20px;
}

.button {
	padding:10px 30px;
	background-color:#145214;
	border-radius:5px;
	text-align:center;
	text-decoration:none;
	color:blue;
	margin:0 auto;
	display:inline-block;
	width:auto;
}

.button-container {
	width:100%;
	text-align:right;
	display:block;
}

a {
	text-decoration:none;
	color:white;
	display:block;
	padding:2em;
	margin:-2em;
}


#three {
	display:block;
	margin:0 auto;
}
