.nav-section-container {
	height: 45px;
	width: 100vw;
	background-color: rgba(0,0,0,.9);
	position: fixed;
	top: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	z-index: 10;
}

.nav-section {
	border-bottom: 1px solid rgba(255,255,255,.3);
	width: 100%;
	text-align: center;
	padding: 10px 0;
}

.nav-section a {
	text-decoration: none;
	color: #fff;
	letter-spacing: .2em;
	font-size: 24px;
	font-family: 'Archivo Narrow', sans-serif;
}


.main-nav {
	display: none;
	flex-direction: column;
	width: 100%;
}

.x-out-container {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	height: 30px;
	width: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.x-out {
	color: #fff;
	font-size: 24px;
	display: none;
}

.hamburger-button-container {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hamburger-button {
	height: 20px;
	padding-right: 20px;
}

.nav-open {
	height: 50vh;
}


.hero-unit {
	height:100vh;
	width: 100vw;
	background: url(http://i1356.photobucket.com/albums/q734/Kuhnm3/cosmos-1845140_1920_zpsvxdpz5ow.jpg) center no-repeat fixed;
	background-size: cover;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero-text-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.hero-name {
	font-size: 50px;
	font-family: 'Quicksand', sans-serif;
}

.hero-title {
	font-size: 36px;
	font-family: 'Quicksand', sans-serif;
}

.temp {
	font-size: 30px;
}

.hero-bottom-container {
	color: #fff;
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	letter-spacing: .2em;
}

.carrot {
	transform: scaleX(1.2);
}

.background-container {
	height: 90vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.profile-image-container {
	height: 40%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 30px;
}

.profile-image {
	height: 80%;
	width: 60%;
	border-radius: 100%;
}

.profile-text-container {
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 4;
	padding: 0 30px;
}


.galaxy {
	height: 30vh;
	width: 100vw;
}

.galaxy-one {
	background: url(http://i1356.photobucket.com/albums/q734/Kuhnm3/tarantula-nebula-1245253_1920_zpslz5y0awd.jpg) center no-repeat fixed;
	background-size: cover;
}

.experience-container {
	margin: 40px 0;
}

.companies {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.company {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}


.company-image-hover-container {
	height: 30vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.company-image-container {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.company-image {
	border-radius: 100%;
	height: 180px;
	width: 180px;
}

.jebbit .company-image {
	background: url(http://i1356.photobucket.com/albums/q734/Kuhnm3/jebbit_zpstnninds6.png) center no-repeat;
	background-size: contain;
}

.startupinstitute .company-image {
	background: url(http://i1356.photobucket.com/albums/q734/Kuhnm3/startup_institute_logo_zpsfbj7suyv.jpg) center no-repeat;
	background-size: contain;

}

.hover-effect {
	height: 100%;
	width: 100%;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
}

.hover-effect:hover {
	background-color: rgba(0, 140, 186, .8);
}

.hover-effect a {
	text-decoration: none;
	color: transparent;
}

.hover-effect:hover a {
	color: #fff;
	border: 1px solid #fff;
	padding: 5px;
}


.title {
	color: #000;
	font-size: 30px;
	margin: 10px 0 0 0;
	font-family: 'Quicksand', sans-serif;
}

.date {
	color: #000;
	font-size: 14px;
	font-style: italic;
	font-family: 'Quicksand', sans-serif;

}

.description {
	padding: 10px 20px;
}

.icons-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.icon-text {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	margin: 40px 0 20px 0;
}

.experience-icon {
	height: 150px;
	width: auto;
	padding: 15px 0;
}

.ruby {
	height: 120px;
	width: auto;
}

@media (min-width: 600px) {

.nav-section-container {
	height: 10vh;
	width: 100vw;
	background-color: rgba(0,0,0,.7);
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.nav-section {
	border: none;
	margin: 5px 15px;
}

.main-nav {
	display: flex;
	flex-direction: row;
	width: auto;
}

.nav-section a {
	font-size: 18px;
}

.extra-buttons-container {
	display: none;
}

.hero-name {
	font-size: 60px;
}

.hero-title {
	font-size: 40px;
}

.background-container {
	height: 50vh;
	flex-direction: row;
}

.profile-image {
	height: 80%;
	width: auto;
}

.companies {
	flex-direction: row;
}

.company {
	width: 30%;
}

.profile-text-container, .profile-image-container {
	height: 100%;
}

.icons-container {
	flex-direction: row;
}

.experience-icon {
	padding: 0 15px;
}


.scrolled {
	height: 7vh;
}

.not-scrolled {
	height: 10vh;
}

}

